#nosotros {
  background-color: var(--color2);  
  color: var(--color-blanco);  
}

.card-body {
  background-color: #1870c2;
}

@media (min-width: 768px) {
  #nosotros .row-cols-md-2 {
    flex-wrap: nowrap;
  }
}


