#nosotros{
    background-color: var(--color2);  
    color: var(--color-blanco);  
  }

.card-body{
  background-color: #1870c2;
}
.card-text{
  color: white;
}
.card-title{
  color: white;
}
.recolor{
  background-color: #FFC01D;
}