/* Objetivos.css */
#objetivos {
  background-color: #f8f8f8;
  padding: 40px 0;
}

.objetivo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.objetivo {
  width: 80%;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: stretch; /* Cambiado de center a stretch */
  justify-content: space-between;
  text-align: justify;
}

.objetivo h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.color1 {
  color: #66dcf6;
}

.color2 {
  color: #1870c2;
}

.objetivo p {
  color: #666;
  font-size: 1.5rem;
  flex: 1;
  padding: 20px;
}

.objetivo-imagen {
  width: 50%;
  max-height: 100%; 
  max-width: 100%;
  margin-right: 20px;
  align-self: stretch;
}

.objetivo:nth-child(odd) .objetivo-imagen {
  order: 1;
}

@media (max-width: 1000px) {
  .objetivo {
    flex-direction: column-reverse;
    text-align: justify;
  }

  .objetivo-imagen {
    order: 2;
    margin-bottom: 10px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .objetivo {
    flex-direction: column-reverse;
    text-align: justify;
  }

  .objetivo-imagen {
    order: 2;
    margin-bottom: 10px;
    width: auto;
  }
}
