/* MainHeader.css */

#main-header {
  background-color: var(--color-blanco);
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#main-header h1 {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#main-header h1 span {
  color: var(--color1); 
}

#main-header h1::after {
  content: " TRADE"; 
  color: var(--color6); 
  white-space: pre; 
}

#main-header p {
  margin-bottom: 0;
  font-size: 18px;
  color: #333; 
  font-weight: bold; 
}
